<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"/>

    <link href="css/login.css"
          rel="stylesheet">

</head>
<body>
<div th:replace="/fragments/header.html :: navbar"/>


<div class="wrapper fadeInDown">
    <div id="formContent">

        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="alert alert-danger">
                Wrong username or password.
            </div>
            <input type="text" id="login" class="fadeIn first" name="username" placeholder="login">
            <input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
            <div class="fadeIn third">
            <label id="rememberLabel" for="remember"> Remember Me </label>
            <input type="checkbox" id="remember"  name="remember-me">
            </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


        <div id="formFooter">
            <a class="underlineHover" th:href=@{/register}>Register</a>
        </div>

    </div>
</div>

</form>
</body>
</html>