<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: header"/>

</head>
<body>
<div th:replace="/fragments/header.html :: navbar"/>

<div class="container">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3 class="text-white">Register</h3>
                        <form class="requires-validation" th:action="@{/register}" th:object="${newuser}" method="post">

                            <div class="col-md-12">

                                <select class="form-select mt-3" th:field="*{roles}" id="role" required>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                               th:text="${role.name}"
                                            th:if="${role.name != 'ADMIN'}">
                                </select>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="text"  placeholder="Name" th:field="*{name}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="text" placeholder="Last name" th:field="*{lastName}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</p>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="email" placeholder="E-mail Address" th:field="*{email}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="text" placeholder="Username" th:field="*{username}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
                            </div>

                            <div class="col-md-12 mt-3">
                                <input class="form-control" type="password" placeholder="Password" th:field="*{password}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
                            </div>

                            <div class="col-md-12 mt-3 ">
                                <input class="form-control" type="number" placeholder="Age" th:field="*{age}" required>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</p>
                            </div>

                            <div class="form-button mt-3">
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>